<div class="container">
    <div class="header">
    <nav>
      <!-- <h1 style="font-size: 80px">𝑩𝒐𝒐𝒌 𝒂𝒑𝒑</h1> -->
      <h1 style="font-size: 30px">𝑩𝒐𝒐𝒌 𝒂𝒑𝒑</h1>
      <a routerLink="/home" routerLinkActive="active" [routerLink] = "['/login']">LOGIN</a>
      <a routerLink="/about" routerLinkActive="active" [routerLink] = "['/signup']">REGISTER</a>
    </nav>
    </div>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
    <div class="middle">
      <img src="./assets/aa.jpg" alt="">
      <a class="non">WeLcOMe tO BooK apP</a>
    </div>
    <div class="footer">
      <h2>footer</h2>
    </div>
  </div>
  