<div class="row">
    <div class="col s8 offset-s2">
        <div class="card">
            <div class="sm-jumbotron center-align">
                <h2>User Registration</h2>
            </div>
            <form class="col s12 white" #userRegistrationForm="ngForm" autocomplete="off">
                <div class="row">
                    <div class="input-field col s6">
                        <input class="validate" type="text" name="Username" #Username="ngModel" [(ngModel)]="user.Username" required>
                        <label data-error="Required field!">UserName</label>
                    </div>
                    <div class="input-field col s6">
                        <input class="validate" type="password" class="validate" name="Password" #Password="ngModel" [(ngModel)]="user.Password" required minlength="3">
                        <label [attr.data-error]="Password.errors!=null?(Password.errors.required?'Required field!':'Minimum 3 character needed'):''">Password</label>
                    </div>
                    <div class="input-field col s6">
                        <input type="text" class="validate" name="Password" #Password="ngModel" [(ngModel)]="user.Password">
                        <label data-error="Required Field!">Confirm Password</label>
                    </div>
                    <div class="input-field col s6">
                        <input type="text" class="validate" name="Email" #Email="ngModel" [(ngModel)]="user.Email" [pattern]="emailPattern">
                        <label data-error="Invalid email">Email</label>
                    </div>
                    <div class="input-field col s6">
                        <input type="text" name="FiratName" #FirstName="ngModel" [(ngModel)]="user.FirstName">
                        <label>FirstName</label>
                    </div>
                    <div class="input-field col s6">
                        <input type="text" name="LastName" #LastName="ngModel" [(ngModel)]="user.LastName">
                        <label>LastName</label>
                     </div>
                     <div class="input-field col s12">
                         <button class="btn-large btn-submit" [disabled]="!userRegistrationForm.valid" (ngSubmit)="onSubmit()" type="submit">Submit</button>
                     </div>
                     <div class="input-field col s12">
                        <button class="btn-large btn-submit" [routerLink] = "['/login']" type="submit">Login</button>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>
<!--
<div class="container" >
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h3>SIGN UP</h3>
            <br>
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label>First Name</label>
                    <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted &amp;&amp; registerForm.controls.firstName.errors }" />
                    <div *ngIf="submitted &amp;&amp; registerForm.controls.firstName.errors" class="text-danger">
                        <div *ngIf="registerForm.controls.firstName.errors.required">First Name is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Last Name</label>
                    <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted &amp;&amp; registerForm.controls.lastName.errors }" />
                    <div *ngIf="submitted &amp;&amp; registerForm.controls.lastName.errors" class="text-danger">
                        <div *ngIf="registerForm.controls.lastName.errors.required">Last Name is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted &amp;&amp; registerForm.controls.email.errors }" />
                    <div *ngIf="submitted &amp;&amp; registerForm.controls.email.errors" class="text-danger">
                        <div *ngIf="registerForm.controls.email.errors.required">Email is required</div>
                        <div *ngIf="registerForm.controls.email.errors.email">Email must be a valid email address</div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted &amp;&amp; registerForm.controls.password.errors }"  />
                    <div *ngIf="submitted &amp;&amp; registerForm.controls.password.errors" class="text-danger">
                        <div *ngIf="registerForm.controls.password.errors.required">Password is required</div>
                        <div *ngIf="registerForm.controls.password.errors.minlength">Password must be at least 6 characters</div>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary">Register</button>
                </div>
                
            </form>
        </div>
    </div>
</div>
</div> -->